.title1 {
    color: #183359;
}

@media (max-width: 768px) {
    .display768 {
        font-size: x-large;
    }
}

.galery li:not(:last-of-type) {
    margin-bottom: 1rem;
}

.parallax-window {
    height: 655px;
    margin-bottom: 20px;
}

.image-background {
    background-color: rgba(255,255,255,0.7) !important;
}