@import "header";
@import "mixins";

.title1 {
    color: #183359;
}

@media (max-width: 768px) {
    .display768 {
        font-size: x-large;
    }
}

.galery li:not(:last-of-type) {
    margin-bottom: 1rem;
}

section {
    .hero-sercion{}
    .text-center{}
    .border-info{}
    img {
        @include img__hero();
    }
}

.animation__img {
    @include img__animation();

    img {
        @include img__transition
    }
}

.animation__img:hover img {
    transform: scale(1.1);
}